 h1{
font-family: 'Times New Roman', Times, serif;
color: blueviolet;
font-size: 20px;
font-style: initial;

 }
 body{
background-image: url(https://img.freepik.com/premium-photo/modern-house-window-with-green-garden-view-bokeh-background_293060-6231.jpg);



 }