.container {
    display: flex;
    justify-content: space-between;
}

.table-wrapper {
    position: relative;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: black;
}

.missing-cell {
    background-color: #ddd;
}

.cell-highlight {
    background-color: yellow;
    position: absolute;
    border: 1px solid black;
    padding: 1;
}

#cell-block1 {
    right: 0;
    bottom: 0;
}

#cell-block2 {
    right: 0;
    top: 0;
}

#cell-block3 {
    left: 0;
    bottom: 0;
}

#cell-block4 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}