@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ibarra Real Nova";
  }
  .container {
    display: flex;
  }
  .left-box-wrapper {
    width: 50%;
    height: 100vh;
    background-color: #fff7df;
  }
  .left-form-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .left-box-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon{
    width:40px;
    height:40px;
  }
  .mb30{
    margin-bottom: 30px;
  }
  .form{
    display: flex; 
    flex-direction: column; 
  }
  .input{
    width: 425px;
    height: 60px;
    border: 1px solid #EFEFEF;
    border-radius: 100px;
    padding-left: 20px;
  }
  .mb10{
    margin-bottom: 10px;
  }
  .mb15{
    margin-bottom: 15px;
  }
  .go-to-sign-up{
    display:flex;
    justify-content: flex-end;
  }
  .button-color{
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  border-radius: 100px;
  color: white;
  }
  .right-box-wrapper{
    display: flex;
    width:50%;
    height:100vh;
    background-color: rgba(196, 196, 196, 1);
  }
  .right-box-center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .right-form-wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .mb22{
    margin-bottom: 22px;
  }
  .picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .box-text{
    width: 300px;
    height: 52px;
    font-size: 14px;
    color: black;
    flex-wrap: wrap;
  }
.mr10{
  margin-right: 10px;
}
.mb42{
  margin-bottom: 42px;
}

  
